:root {
  --color-text: #150c03;
  --color-primary: #f9b422;
  --color-background: #fbf7f2;
  --color-selection: #f7d633;
  --white: #ffffff;
  --black: #000000;
  --red: #e9270d;
  --blue: #0e0706;

  --size-step-0: clamp(1rem, 0.9661rem + 0.1695vi, 1.125rem);
  --size-step-1: clamp(1.125rem, 1.0243rem + 0.5034vi, 1.4963rem);
  --size-step-2: clamp(1.2656rem, 1.0692rem + 0.9822vi, 1.99rem);
  --size-step-3: clamp(1.4238rem, 1.0921rem + 1.6585vi, 2.6469rem);
  --size-step-4: clamp(1.6019rem, 1.0817rem + 2.6008vi, 3.52rem);
  --size-step-5: clamp(1.8019rem, 1.0209rem + 3.9051vi, 4.6819rem);

  --space-3xs: clamp(0.25rem, 0.2331rem + 0.0847vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4831rem + 0.0847vi, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7161rem + 0.1695vi, 0.875rem);
  --space-s: clamp(1rem, 0.9661rem + 0.1695vi, 1.125rem);
  --space-m: clamp(1.5rem, 1.4492rem + 0.2542vi, 1.6875rem);
  --space-l: clamp(2rem, 1.9322rem + 0.339vi, 2.25rem);
  --space-xl: clamp(3rem, 2.8983rem + 0.5085vi, 3.375rem);
  --space-m-xl: clamp(1.5rem, 0.9915rem + 2.5424vi, 3.375rem);

  --size-header: clamp(4rem, 2.6441rem + 6.7797vw, 9rem);
  --size-nav: clamp(2rem, 1.9322rem + 0.339vi, 2.25rem);
  --size-footer: clamp(3rem, 2.5932rem + 2.0339vw, 4.5rem);
  --size-ribbon: clamp(3rem, 2.8983rem + 0.5085vw, 3.375rem);
  --size-wrapper-s: 30ch;
  --size-wrapper: 48ch;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.flow-s > * + * {
  margin-block-start: var(--space-s);
}

.flow-m > * + * {
  margin-block-start: var(--space-m);
}

.flow-l > * + * {
  margin-block-start: var(--space-l);
}

.flow-xl > * + * {
  margin-block-start: var(--space-xl);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100svb;
  font-family: "Comic Neue", cursive;
  font-size: var(--size-step-1);
  color: var(--color-text);
  background: var(--color-background);
}

::selection {
  background: var(--color-selection);
}

:is(h1, h2, h3) {
  line-height: 1.1;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

b {
  font-weight: 700;
  text-transform: uppercase;
}

b[data-version="red" i] {
  color: var(--red);
}

b[data-version="blue" i] {
  color: var(--blue);
}

img {
  display: block;
  inline-size: 92px;
  block-size: 60px;
  inline-size: calc(var(--img-scale, 2) * 46px);
  block-size: calc(var(--img-scale, 2) * 30px);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.header-data img {
  --img-scale: 5;
  display: block;
  margin-inline: auto;
}

.panel-data {
  --color-text: #3f1f17;
  --color-primary: #f9b422;
  --color-background: #f5e99d;
  --color-selection: #e3d9ab;

  color: var(--color-text);
  background: var(--color-background);
  padding: var(--space-xl) var(--space-l);
  border: 3px solid var(--color-primary);
}

.panel-data ::selection {
  background: var(--color-selection);
}

.panel-data[data-version="red" i] {
  --color-text: #3f1f17;
  --color-background: #f5e99d;
  --color-primary: #e9270d;
  --color-text-label: #0e0706;
  --color-selection: #f8c281;
}

.panel-data[data-version="blue" i] {
  --color-text: #3f1f17;
  --color-background: #f5e99d;
  --color-primary: #2c1d5c;
  --color-text-label: #f0d5f0;
  --color-selection: #d5d2ad;
}

.panel-data ul {
  list-style: none;
  display: flex;
  gap: var(--space-m);
  justify-content: center;
  flex-wrap: wrap;
}

.panel-data ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xs);
  text-align: center;
}

.panel-data ul li img {
  display: block;
  margin-inline: auto;
}

.panel-data ul li p {
  max-inline-size: 12ch;
}

.panel-data {
  position: relative;
}

.panel-data :is(h2, h3) {
  font-size: var(--size-step-1);
  position: absolute;
  inset-inline-start: 5%;
  inset-block-start: 0;
  translate: 0 -50%;
  color: var(--color-text-label, var(--color-text));
  background: var(--color-primary);
  padding: var(--space-3xs) var(--space-2xs);
  line-height: 1;
}

.panel-data[data-justify-heading="center"] :is(h2, h3) {
  inset-inline-start: 50%;
  translate: -50% -50%;
}

.panel-data[data-justify-heading="end"] :is(h2, h3) {
  inset-inline-start: initial;
  inset-inline-end: 5%;
}

.heading-ball {
  font-family: Kanit, sans-serif;
  font-weight: 700;
  display: inline-block;
  padding-inline: 0.75em 1.55ch;
  position: relative;
  z-index: 0;
}

.heading-ball::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-46 -46 92 92"><g transform="rotate(120)"><path fill="%23f7f7f7" d="M -44.5 0 A 44.5 44.5 0 0 0 44.5 0" /><path fill="%23f20d0d" d="M -44.5 0 A 44.5 44.5 0 0 1 44.5 0" /><circle fill="%23b3b3b3" r="16"/><circle fill="%23f2f2f2" r="10"/><g fill="%23333333"><path d="M 0 0 0 -5 -2 -5 -5 -2 -5 0 Z" /><path opacity="0.3" d="M 23.5 0 24.5 0 A 21 21 0 0 0 3.5 -21 19 19 0 0 1 22.5 0 Z M 31 0 32.5 0 A 29 29 0 0 0 3.5 -29 26 26 0 0 1 29.5 0 Z M 38.5 0 40.5 0 A 37 37 0 0 0 3.5 -37 33 33 0 0 1 36.5 0 ZM -23.5 0 -24.5 0 A 21 21 0 0 0 -3.5 21 19 19 0 0 1 -22.5 0 Z M -31 0 -32.5 0 A 29 29 0 0 0 -3.5 29 26 26 0 0 1 -29.5 0 Z M -38.5 0 -40.5 0 A 37 37 0 0 0 -3.5 37 33 33 0 0 1 -36.5 0 Z" /></g><path fill="none" stroke="%23333333" stroke-width="3" d="M -44.5 0 A 44.5 44.5 0 0 1 44.5 0 44.5 44.5 0 0 1 -44.5 0 L -16 0 A 16 16 0 0 0 16 0 A 16 16 0 0 0 -16 0 M -10 0 A 10 10 0 0 0 10 0 A 10 10 0 0 0 -10 0 M 16 0 L 44.5 0" /></g></svg>');
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 50%;
  translate: -40% -50%;
  block-size: 0.9em;
  inline-size: 0.9em;
}

.heading-ball::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-primary);
  background: oklch(from var(--color-primary) calc(l - 0.03) calc(c + 0.18) h);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - var(--space-s)) 20%,
    100% 32%,
    calc(100% - var(--space-s)) 50%,
    100% 65%,
    calc(100% - var(--space-s)) 78%,
    100% 100%,
    0% 100%
  );
  z-index: -1;
}
